.tips-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.slider {
  overflow: hidden;
  width: 100%;
}

.tips-list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 0;
  margin: 0;
}

.tip-item {
  min-width: 100%;
  /* background-color: #a1ebaf; */
  margin: 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tip-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  cursor: pointer;
}

.tip-image {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tips-list h3 {
  margin-top: 0;
  color: #444;
}

.tips-list p {
  margin: 10px 0 0;
  color: #666;
}

.tip {
  text-align: center;
}
.mala{
  text-align: center;
}